{:paths ["src" "resources"]
 :deps  {metosin/jsonista         {:mvn/version "0.3.6"}
         aero/aero                {:mvn/version "1.1.6"}
         integrant/integrant      {:mvn/version "0.8.0"}
         http-kit/http-kit        {:mvn/version "2.6.0"}
         metosin/malli            {:mvn/version "0.9.2"}
         org.apache.pdfbox/pdfbox {:mvn/version "2.0.26"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps  {integrant/repl {:mvn/version "0.3.2"}}}

  :run {:main-opts ["-m" "hundredrps.core"]}

  :build {:extra-deps {org.clojure/tools.build {:mvn/version "0.8.4"}}
          :ns-default build}

  :test {:extra-paths ["test"]
         :extra-deps  {http-kit.fake/http-kit.fake {:mvn/version "0.2.2"}}}

  :test-runner {:extra-deps {io.github.cognitect-labs/test-runner
                             {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                :exec-fn    cognitect.test-runner.api/test}}}
