{:schemas
 {:menu/start [:map [:message [:map [:text [:re "/start.*"]]]]]
  :menu/stop  [:map [:message [:map [:text [:= "/stop"]]]]]
  :menu/help  [:map [:message [:map [:text [:= "/help"]]]]]}

 :menu
 [:orn
  [[{:action :add-multiple-messages :messages #ref [:messages :start]}
    {:action :format-string :path [:messages 1 :text]
     :values-path [:payment/config] :values-keys [:cost]}
    {:action :extract-text}
    {:action :save-text}
    {:action :send-messages!}
    {:action :to-step :step [:start]}]
   [:map [:update :menu/start]]]

  [[{:action :add-message :message #ref [:messages :stop]}
    {:action :clear-state}]
   [:map [:update :menu/stop]]]

  [[{:action :add-message :message #ref [:messages :help]}]
   [:map [:update :menu/help]]]]

 :fallback
 [:orn
  [[{:action :add-message :message #ref [:messages :edited-message]}]
   [:map [:update [:map [:edited_message :map]]]]]

  [[{:action :add-message :message #ref [:messages :press-start]}]
   [:map [:update :telegram/update]]]]

 :messages
 {:press-start
  {:text         "Ого, вы не нажали /start, нажимайте скорее!"
   :reply_markup {:remove_keyboard true}}

  :start
  [{:text "Привет! Это Андрей и Гульнара, а это наш бот, который умеет делать цифровые открытки, как на видео ниже. "
    :reply_markup
    {:inline_keyboard
     [[{:text "Как выглядит «Лучшая женщина»"
        :url  "https://disk.yandex.ru/i/_96I19wyaGsPUQ"}]
      [{:text "Как выглядит «Письмо маме»"
        :url  "https://disk.yandex.ru/i/A2lwriRYnsfv3w"}]
      [{:text "Как выглядит «Письмо о любви»"
        :url  "https://disk.yandex.ru/i/dC_kJTF4sixzRQ"}]]}}
   {:text
    "Стоимость услуги %s ₽. Оплата происходит через ЮKassa с использованием банковских карт платежных систем: МИР, VISA International, Mastercard Worldwide, JCB. Если у вас остались вопросы или что-то не сработает, пишите нам @cardsandcare"
    :reply_markup
    {:inline_keyboard
     [[{:text "Публичная оферта"
        :url  "https://docviewer.yandex.ru/?url=ya-disk-public%3A%2F%2Fs6j2jr781%2BbxjwMTZ2IDqVh3Cbp9PqPAufG6loNDkdiEirsRzMblbaJCpQVjYweZ%2Bb3nCKLCVTJ%2BSInaOUvvHQ%3D%3D&name=Public%20offer_bot.pdf"}]]}}
   {:reply_markup {:remove_keyboard true}
    :text
    "Выберите откытку:
1. «Лучшая женщина» (забавная открытка для мамы) – нажмите на /bestWoman
2. «Письмо маме» (трогательное письмо для мамы) – нажмите на /letterForMother
3. «Письмо о любви» (романтическое письмо для любимого человека) – нажмите на /loveLetter"}]

  :stop
  {:text         "Пока! Напиши нам что не понравилось на @cardsandcare"
   :reply_markup {:remove_keyboard true}}

  :edited-message
  {:text "Редактирование сообщений пока не поддерживается нашим ботом :'("}

  :help
  {:text "/start - Запустить бота / Перезапустить бота
/stop - Остановить бота
/help - Cписок команд
/bestWoman - Лучшая женщина (забавная открытка для мамы)
/letterForMother - Письмо маме (трогательное письмо для мамы)
/loveLetter - Письмо о любви (романтическое письмо для любимого человека)

Если что-то не работает, перезапустите бота командой /start и пройдите заново.

Если не поможет, напишите в телеграм @cardsandcare"}}}
