{:http/server     {:port    #long #or [#env PORT 8080]
                   :handler #ig/ref :handler/webhook}
 :handler/webhook {:tg/api-url      #ig/ref :tg/api-url
                   :tg/file-url     #ig/ref :tg/file-url
                   :pdf/templates   #ig/ref :pdf/templates
                   :pdf/cards       #ig/ref :pdf/cards
                   :text/templates  #ig/ref :text/templates
                   :cards/resources #ig/ref :cards/resources

                   :db/value #ig/ref :db/value}
 :tg/api-token #env TELEGRAM_TOKEN
 :tg/api-url   {:base-url  "https://api.telegram.org/bot"
                :api-token #ig/ref :tg/api-token}
 :tg/file-url  {:base-url  "https://api.telegram.org/file/bot"
                :api-token #ig/ref :tg/api-token}
 :db/value     {:logic #include "logic.edn"}

 :cards/resources
 {:fonts   #cards/resource-dir "cards/fonts"
  :pdfs    {:letter-for-mother #cards/resource-dir "cards/letter-for-mother/pdfs"}
  :strings {:letter-for-mother #include "cards/letter-for-mother/strings.edn"}}

 :text/templates
 {:letter-for-mother #include "cards/letter-for-mother/texts.edn"}
 :pdf/templates
 {:letter-for-mother #include "cards/letter-for-mother/pdfs.edn"}
 :pdf/cards
 {:letter-for-mother #include "cards/letter-for-mother/card.edn"}}
