{:http/server     {:port    #long #or [#env PORT 8080]
                   :handler #ig/ref :handler/webhook}
 :handler/webhook {:tg/api-url  #ig/ref :tg/api-url
                   :tg/file-url #ig/ref :tg/file-url

                   :stats/config 10 ;; number of request before printing statistics

                   :pdf/templates   #ig/ref :pdf/templates
                   :pdf/cards       #ig/ref :pdf/cards
                   :text/templates  #ig/ref :text/templates
                   :cards/resources #ig/ref :cards/resources
                   ;; TODO: Remove unecessary deps from webhook
                   :pdf/generator   #ig/ref :pdf/generator

                   :payment/config #ig/ref :payment/config

                   :amplitude/api-url   #ig/ref :amplitude/api-url
                   :amplitude/api-token #ig/ref :amplitude/api-token
                   :analytics/enabled?  #ig/ref :analytics/enabled?

                   :chat/logic    #ig/ref :chat/logic
                   :chat/registry #ig/ref :chat/registry
                   :db/value      #ig/ref :db/value}

 :pdf/generator {:pdf/templates   #ig/ref :pdf/templates
                 :pdf/cards       #ig/ref :pdf/cards
                 :text/templates  #ig/ref :text/templates
                 :cards/resources #ig/ref :cards/resources}

 :tg/api-token #env TELEGRAM_TOKEN
 :tg/api-url   {:base-url  "https://api.telegram.org/bot"
                :api-token #ig/ref :tg/api-token}
 :tg/file-url  {:base-url  "https://api.telegram.org/file/bot"
                :api-token #ig/ref :tg/api-token}

 :payment/config {:provider-token #or [#env PAYMENT_PROVIDER_TOKEN "test-token"]
                  :cost           299
                  :amount         #cost->amount #ref [:payment/config :cost]}

 :amplitude/api-token #env AMPLITUDE_TOKEN
 :amplitude/api-url   "https://api.amplitude.com/2/httpapi"
 :analytics/enabled?  #profile {:dev     false
                                :default true}

 :db/value {:logic #include "logic.edn"}

 :chat/config
 {:general #include "chat.edn"
  :cards   {:letter-for-mother #include "cards/letter-for-mother/chat.edn"
            :best-woman #include "cards/best-woman/chat.edn"
            :valentine #include "cards/valentine/chat.edn"}}

 :chat/registry {:chat/config #ig/ref :chat/config}
 :chat/logic    {:chat/config   #ig/ref :chat/config
                 :chat/registry #ig/ref :chat/registry}

 :cards/resources
 {:fonts   "cards/fonts"
  :pdfs    {:letter-for-mother "cards/letter-for-mother/pdfs"
            :best-woman        "cards/best-woman/pdfs"
            :valentine         "cards/valentine/pdfs"}
  :strings {:letter-for-mother #include "cards/letter-for-mother/strings.edn"
            :best-woman        #include "cards/best-woman/strings.edn"
            :valentine         #include "cards/valentine/strings.edn"}}

 :text/templates
 {:letter-for-mother #include "cards/letter-for-mother/texts.edn"
  :best-woman        #include "cards/best-woman/texts.edn"
  :valentine         #include "cards/valentine/texts.edn"}

 :pdf/templates
 {:letter-for-mother #include "cards/letter-for-mother/pdfs.edn"
  :best-woman        #include "cards/best-woman/pdfs.edn"
  :valentine         #include "cards/valentine/pdfs.edn"}

 :pdf/cards
 {:letter-for-mother #include "cards/letter-for-mother/card.edn"
  :letter-for-mother/photo-with-mom
  #include "cards/letter-for-mother/photo-with-mom.edn"

  :best-woman        #include "cards/best-woman/card.edn"
  :valentine         #include "cards/valentine/card.edn"}}
