{:messages
 {:start-message
  [{:text "Привет\\! Это Андрей и Гульнара, а это наш бот, который умеет делать цифровые открытки, как на видео\\.

У нас на выбор есть несколько открыток:
1\\. «Лучшая женщина в мире» [видео](https://disk.yandex.ru/i/_96I19wyaGsPUQ)\\.
2\\. «Письмо маме» [видео](https://disk.yandex.ru/i/A2lwriRYnsfv3w)\\.
3\\. «Письмо о любви» [видео](https://disk.yandex.ru/i/dC_kJTF4sixzRQ)\\."
    :parse_mode               "MarkdownV2"
    :disable_web_page_preview true
    :reply_markup
    {:inline_keyboard
     [[{:text          "«Лучшая женщина в мире»"
        :callback_data ":best-woman"}]
      [{:text "«Письмо маме»"
        :url  "https://google.com"}]
      [{:text "«Письмо о любви»"
        :url  "https://google.com"}]]}}
   {:text "another message"}]

  :stop
  [{:text "Пока! Напиши нам что не понравилось на @cardsandcare"}]

  :help
  [{:text "/start - Запустить бота / Перезапустить бота
/stop - Остановить бота
/help - Cписок команд
/bestWoman - Лучшая женщина в мире (открытка на 8 марта для мамы)
/letterForMother - Письмо маме (трогательное письмо для мамы)
/loveLetter - Письмо о любви (романтическое письмо для любимого человека)
Если что-то не работает, перезапустите бота командой /start и пройдите заново. Если не поможет, напишите в телеграм @cardsandcare"}]

  :unknown-card
  [{:text "Чёт не понял какая откртыка."}]

  :enough
  [{:text "Всё насобирались."}]
  :thank-you
  [{:text "О, пасиб за сообщение, подумаю чё с ним делать."}]

  :letter-for-mother
  {:greeting
   [{:text "Юхууу! вы выбрали открытку Письмо Маме."}]}}

 :transitions
 {:start
  [{:id       :start
    :to       :start
    :messages #ref [:messages :start-message]}
   [:map [:text [:and :string [:= "/start"]]]]]
  :help
  [{:id       :help
    :messages #ref [:messages :help]}
   [:map [:text [:and :string [:= "/help"]]]]]
  :stop
  [{:id       :stop
    :to       nil
    :messages #ref [:messages :stop]}
   [:map [:text [:and :string [:= "/stop"]]]]]}

 :global-menu
 {:commands
  [{:name "/start"
    :description "Запустить бота / Перезапустить бота"}
   {:name "/stop"
    :description "Остановить бота"}
   {:name "/help"
    :description "Список команд"}]
  :transitions
  #m/parser
  [:orn
   #ref [:transitions :start]
   #ref [:transitions :help]
   #ref [:transitions :stop]]}

 :steps
 {nil
  {:transitions
   #m/parser
   [:orn
    [{:id       :anything
      :to       :start
      :messages #ref [:messages :start-message]}
     [:map]]]}

  :start
  {:transitions
   #m/parser
   [:orn
    [{:to       :letter-for-mother
      :messages #ref [:messages :letter-for-mother :greeting]}
     [:map [:text [:and :string [:= "/letterForMother"]]]]]
    #ref [:transitions :start]
    [{:to       :start
      :messages #ref [:messages :unknown-card]}
     [:map [:text :string]]]]}

  :letter-for-mother
  {:transitions
   #m/parser
   [:orn
    [{:to       nil
      :messages #ref [:messages :enough]}
     [:map [:text [:and :string [:= "/stop"]]]]]
    [{:to       :letter-for-mother
      :messages #ref [:messages :thank-you]}
     [:map]]]}}}
