{:card-cost "199 ₽"
 :messages
 {:press-start
  [{:text "Ого, вы не нажали /start, нажимайте скорее!"
    :reply_markup {:remove_keyboard true}}]
  :start
  [{:text "Привет! Это Андрей и Гульнара, а это наш бот, который умеет делать цифровые открытки, как на видео ниже. "
    :disable_web_page_preview true
    :reply_markup
    {:inline_keyboard
     [[{:text "Как выглядит «Лучшая женщина в мире»"
        :url  "https://disk.yandex.ru/i/_96I19wyaGsPUQ"}]
      [{:text "Как выглядит «Письмо маме»"
        :url  "https://disk.yandex.ru/i/A2lwriRYnsfv3w"}]
      [{:text "Как выглядит «Письмо о любви»"
        :url  "https://disk.yandex.ru/i/dC_kJTF4sixzRQ"}]]}}
   {:text
    #join
    ["Стоимость услуги " #ref [:card-cost]
     ". Если у вас остались вопросы или что-то не сработает, "
     "пишите нам @cardsandcare"]}
   {:reply_markup {:remove_keyboard true}
    :text
    "Выберите откытку:
1. Лучшая женщина в мире (открытка на 8 марта для мамы) - нажмите на /bestWoman
2. Письмо маме (трогательное письмо для мамы) - нажмите на /letterForMother
3. Письмо о любви (романтическое письмо для любимого человека) - нажмите на /loveLetter"}]

  :stop
  [{:text "Пока! Напиши нам что не понравилось на @cardsandcare"
    :reply_markup {:remove_keyboard true}}]

  :help
  [{:text "/start - Запустить бота / Перезапустить бота
/stop - Остановить бота
/help - Cписок команд
/bestWoman - Лучшая женщина в мире (открытка на 8 марта для мамы)
/letterForMother - Письмо маме (трогательное письмо для мамы)
/loveLetter - Письмо о любви (романтическое письмо для любимого человека)

Если что-то не работает, перезапустите бота командой /start и пройдите заново.

Если не поможет, напишите в телеграм @cardsandcare"}]

  :unknown-card
  [{:text "Чёт не понял какая откртыка."}]

  :enough
  [{:text "Всё насобирались."}]
  :thank-you
  [{:text "О, пасиб за сообщение, подумаю чё с ним делать."}]

  :understandable
  [{:text "Пожалуйста прочитайте сообщения выше и нажмите кнопку понятно."}]

  :letter-for-mother
  {:greeting
   [{:text "Чтобы получилась открытка для мамы, ответьте на 10 коротких вопросов. После выполнения всех пунктов сформируется pdf-открытка, которую можно скачать прямо тут, в боте."}
    {:text "Бот управляется текстом и кнопками, в зависимости от вопроса. Чтобы переключаться между этими режимами, нажимайте на значок кнопок, ищите его справа."}
    {:method "sendPhoto"
     :photo "AgACAgIAAxkBAAIBvWNqCLDnCb9-t0dIY1L1VF_4CzsOAALvxzEb9YdRS1cwpNkuLbkRAQADAgADeQADKwQ"
     :reply_markup
     {:keyboard [[{:text "Понятно"}]]}}]
   :together
   [{:text "Давайте начнём! Живете раздельно с мамой?"
     :reply_markup
     {:keyboard [[{:text "Раздельно"} {:text "Вместе"}]]}}]}}

 :transitions
 {:start
  [{:id       :start
    :to       :start
    :messages #ref [:messages :start]}
   #tg/message-text [:re "/start.*"]]
  :help
  [{:id       :help
    :messages #ref [:messages :help]}
   #tg/message-text [:= "/help"]]
  :stop
  [{:id       :stop
    :to       nil
    :messages #ref [:messages :stop]}
   #tg/message-text [:= "/stop"]]
  :letter-for-mother
  [{:to       [:letter-for-mother :greeting]
    :messages #ref [:messages :letter-for-mother :greeting]}
   #tg/message-text [:= "/letterForMother"]]}

 :global-menu
 {:commands
  [{:command     "/start"
    :description "Запустить бота / Перезапустить бота"}
   {:command     "/stop"
    :description "Остановить бота"}
   {:command     "/help"
    :description "Список команд"}
   {:command     "/letterForMother"
    :description "Письмо маме (трогательное письмо для мамы)"}]
  :transitions
  #m/parser
  [:orn
   #ref [:transitions :start]
   #ref [:transitions :help]
   #ref [:transitions :stop]
   #ref [:transitions :letter-for-mother]]}

 :steps
 {nil
  {:transitions
   #m/parser
   [:orn
    [{:messages #ref [:messages :press-start]}
     [:map]]]}

  :start
  {:transitions
   #m/parser
   [:orn
    #ref [:transitions :start]
    [{:to       :start
      :messages #ref [:messages :unknown-card]}
     #tg/message-text [:re ".*"]]]}

  [:letter-for-mother :greeting]
  {:transitions
   #m/parser
   [:orn
    [{:to       [:letter-for-mother :together]
      :messages #ref [:messages :letter-for-mother :together]}
     #tg/message-text [:re "^(?iu)понятно"]]
    [{:messages #ref [:messages :understandable]}
     [:map]]]}}}
