{:hello
 {:pdf [:pdfs :letter-for-mother :hello.pdf]
  :parts
  [{:type      :text
    :font      [:resources :fonts :kosko-bold.ttf]
    :font-size 21
    :text      [:data :childhood-memories]
    :position  {:x 70.0 :y 182.0}}]}

 :your-story
 {:pdf [:pdfs :letter-for-mother :your-story.pdf]
  :parts
  [{:type     :text
    :text     [:data :your-story]
    :position {:x 70.0 :y 256.0}}]}

 :photo-portrait
 {:pdf [:pdfs :letter-for-mother :photo-portrait.pdf]
  :parts
  [{:type     :text
    :text     [:data :childhood-memories]
    :position {:x 70.0 :y 271.1}}

   {:type     :image
    :image    [:data :photo-with-mom]
    :position {:x 189.5 :y 348.12}
    :size     {:width 210.0 :height 279.0}}]}}
